<body>
    
    <%= render "shared/navbar_admin" %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10">
            
            <h2 class="text-center py-5">Información del Postulante</h2>
            <div class="container-fluid">
                <div class="row py-1">
                    <label class="col-md-4 control-label" for="id_conv">Convocatoria de la postulación</label> 
                    <div class="col-md-8">
                        <input class="form-control proh" type="text" name="id_conv" size="40" readonly="true" value="">
                    </div>
                </div>
                <div class="row py-1">
                    <label class="col-md-4 control-label" for="nombre">Nombre Postulante</label> 
                    <div class="col-md-8">
                        <input class="form-control proh" type="text" name="nombre_estudiante" size="40" readonly="true" value="">
                    </div>
                </div>
                <div class="row py-1">
                    <label class="col-md-4 control-label" for="RUT">RUT Estudiante</label>
                    <div clasS="col-md-8">
                        <input class="form-control proh" type="number" name="RUT" size="15" readonly="true" value="">
                    </div>
                </div>
                <div class="row py-1">
                    <label class="col-md-4 control-label" for="nombre">Fecha de Nacimiento</label>
                    <div clasS="col-md-8">
                        <input class="form-control proh" type="text" name="nacimiento" size="15" readonly="true" value="">
                    </div>
                </div>
                <div class="row py-1">
                    <label class="col-md-4 control-label" for="nombre">N° de matrícula</label>
                    <div clasS="col-md-8">
                        <input class="form-control proh" type="number" name="matricula" size="10" readonly="true" value="">
                    </div>
                </div>
                <div class="row py-1">
                    <label class="col-md-4 control-label" for="nombre">Email Institucional</label>
                    <div clasS="col-md-8">
                        <input class="form-control proh" type="email" name="email_institucional" size="30" readonly="true" value="">
                    </div>
                </div>
                <div class="row py-1">
                    <label class="col-md-4 control-label" for="nombre">Carrera</label>
                    <div clasS="col-md-8">
                        <input class="form-control proh" type="text" name="carrera" size="10" readonly="true" value="">
                    </div>
                </div>
                <div class="row py-1">
                    <label class="col-md-4 control-label" for="nombre">Programa de Movilidad</label>
                    <div clasS="col-md-8">
                        <input class="form-control proh" type="text" name="programa" size="25" readonly="true" value="">
                    </div>
                </div>
                
                <!--Información del estudiante-->

                <div class="row py-5">
                    <div class="col">
                        <h4 class="text-center">Información personal y de estadía</h4>
                    </div>
                </div>
                
                <div class="row py-1">
                    <label class="col-md-4 control-label" for="nombre">Telefono móvil</label>
                    <div clasS="col-md-8">
                        <input class="form-control proh" type="number" name="telefono" size="9" readonly="true" min="1000000000" value="">
                    </div>
                </div>
        
                <div class="row py-1">
                    <label class="col-md-4 control-label" for="nombre">Email personal</label>
                    <div clasS="col-md-8">
                        <input class="form-control proh" type="email" name="email_personal" size="30" readonly="true" value="">
                    </div>
                </div>
                <div class="row py-1">
                    <label class="col-md-4 control-label" for="nombre">Nivel de Inglés</label>
                    <div clasS="col-md-8">
                        <input class="form-control proh" type="text" name="email_personal" size="30" readonly="true" value="">
                    </div>
                </div>
                <div class="row py-1">
                    <label class="col-md-4 control-label" for="nombre">Segundo idioma</label>
                    <div clasS="col-md-8">
                        <input class="form-control proh" type="text" name="idioma_sec" size="30" readonly="true" value="">
                    </div>
                </div>
                <div class="row py-1">
                    <label class="col-md-4 control-label" for="nombre">Universidad de Preferencia 1</label>
                    <div clasS="col-md-8">
                        <input class="form-control proh" type="text" name="idioma_sec" size="30" readonly="true" value="">
                    </div>
                </div>
                <div class="row py-1">
                    <label class="col-md-4 control-label" for="nombre">Universidad de Preferencia 2</label>
                    <div clasS="col-md-8">
                        <input class="form-control proh" type="text" name="idioma_sec" size="30" readonly="true" value="">
                    </div>
                </div>
                <div class="row py-1">
                    <label class="col-md-4 control-label" for="nombre">Universidad de Preferencia 3</label>
                    <div clasS="col-md-8">
                        <input class="form-control proh" type="text" name="idioma_sec" size="30" readonly="true" value="">
                    </div>
                </div>
                <div class="row py-1">
                    <label class="col-md-4 control-label" for="nombre">Estado de postulación</label>
                    <div clasS="col-md-8">
                        <input class="form-control proh" type="text" name="idioma_sec" size="30" readonly="true" value="">
                    </div>
                </div>
                <div class="row py-1">
                    <label class="col-md-4 control-label" for="nombre">Selección</label>
                    <div clasS="col-md-8">
                        <input class="form-control proh" type="text" name="idioma_sec" size="30" readonly="true" value="">
                    </div>
                </div>

                <div class="row py-5">
                    <div class="col">
                        <h4 class="text-center">Información adicional</h4>
                    </div>
                </div>

                <% if @has_questions == false %>

                    <div class="row py-5">
                        <p class="text-center">Durante la convocatoria asignada no se han generado preguntas adicionales al formulario.</p>
                    </div>

                <% else %>
                    <div class="row py-1">
                        <label class="col-md-4 control-label"></label>
                        <div clasS="col-md-8">
                            <input class="form-control proh" type="text"readonly="true" value="">
                        </div>
                    </div>
                <% end %>

            </div>    
        </div>    
        <div class="col-lg-2 py-5">
            <table class="table"> 
                <tr><th scope="row"><h4 class="text-center">Docs</h4></th>
                <tr><td><a href="#" class="btn btn-primary btn-circle w-100" role="button">Curriculum</a></td></tr>
                <tr><td><a href="#" class="btn btn-primary btn-circle w-100" role="button">C. Interés</a></td></tr>
                <tr><td><a href="#" class="btn btn-primary btn-circle w-100" role="button">Antecedentes</a></td></tr>
                <tr><td><a href="#" class="btn btn-primary btn-circle w-100" role="button">Validador</a></td></tr>
            </table> 

            <h4 class="text-center py-3">Opciones</h4>
            
            <button type="button" class="btn btn-success w-100 my-3" data-bs-toggle="modal" data-bs-target="#estadoModal" 
            data-bs-id="" data-bs-nombre="">Actualizar estado</button>
        
            <h4 class="text-center py-3">Estado actual:<br> STATUS</h4>

            <p>Debe esperar a que el estudiante modifique para validar la información.</p>

        </div>     
    </div>   
    
    <div class="modal fade" id="estadoModal" tabindex="-1" aria-labelledby="estadoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="estadoModalLabel">Actualizar situación del postulante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form class="needs-validation" action="#" method="post" accept-charset="utf-8" id="form_estado_postulante" novalidate>
                    <input type="hidden" name="_method" value="PUT"/>
                    <div class="modal-body">
                        <input id="id_postulacion" name="id_postulacion" type="hidden">
                        <div class="mb-3">
                            <label for="nombre_post" class="col-form-label">Estudiante</label>
                            <input type="text" class="form-control" id="nombre_post" readonly="true">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="estado_post" id="estado_post_becado" required value="Aceptado con Beca" >
                            <label class="form-check-label" for="estado_post_becado">Aceptado con Beca</label> <!-- required -->
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="estado_post" id="estado_post_seleccion" required value="Aceptado" >
                            <label class="form-check-label" for="estado_post_seleccion" >Aceptado</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="estado_post" id="estado_post_rechazado" required value="Rechazado" >
                            <label class="form-check-label" for="estado_post_rechazado">Rechazada</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="estado_post" id="estado_post_modificable" required value="Modificable" >
                            <label class="form-check-label" for="estado_post_modificable">Modificable</label>
                        </div>

                        <br>

                        <div class="mb-3 dropdown_universidades">
                            <label for="seleccion">Universidad seleccionada</label>
                            <%= select_tag 'college', options_from_collection_for_select(@colleges, 'id', 'name'), class: 'form-select' %>
                        </div>

                        <!-- usar checkbox -->

                        <span>Al enviar, no podrá volver a cambiar el estado y la universidad</span>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success" id="boton_estado_postulante">Enviar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>