<div class="modal fade" id="editarProgramaModal" tabindex="-1" aria-labelledby="editarProgramaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarProgramaModalLabel">Modificar Programa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="needs-validation" action="<?= base_url() ?>/admin/programas/modificar" method="post" accept-charset="utf-8" id="form_modificar_programa" novalidate>
            <input type="hidden" name="_method" value="PUT"/>
            <div class="modal-body">
                <div class="container">                        
                    <h4 class="text-center">Parámetros</h4>
                    <div class="d-grid gap-2">
                        <input class="form-control rest proh" id="id_programa" readonly="true" type="hidden" name="id_programa">
                        <div class="row">
                            <label class="col-md-4 control-label" for="nombre_programa">Nombre del programa</label>
                            <div clasS="col-md-8">
                                <input type="text" class="form-control" id="nombre_programa" name="nombre_programa" required>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4 control-label" for="descripcion_programa">Descripción</label>
                            <div clasS="col-md-8">
                                <input type="text" class="form-control" id="descripcion_programa" name="descripcion_programa" required>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4 control-label" for="estado_programa">Estado</label>
                            <div clasS="col-md-8">
                                <select class="form-select" name="estado_programa" id="estado_programa" required>
                                    <option value="Activo">Activo</option>
                                    <option value="En espera">En espera</option>
                                    <option value="Cerrado">Cerrado</option>
                                </select>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-regular fa-circle-xmark"></i> Cerrar</button>
                <button class="btn btn-success" type="submit" id="boton_modificar_programa"><i class="fa-solid fa-floppy-disk"></i> Modificar Programa</button>
            </div>
            </form>
        </div>
    </div>
</div>