  <footer class="text-center text-lg-start text-white bg-dark">
    <section class="d-flex justify-content-center bg-success">
      <div class="py-4">
        <span>¡Puedes tener más información aquí abajito!</span>
      </div>
    </section>

    <section>
      <div class="container text-center text-md-start py-5">
        <div class="row py-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="fw-bold">DummyCompañía</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet eaque odio fugit dolorem dolor numquam ex sint incidunt qui exercitationem id eum, consequatur totam reprehenderit autem nulla quibusdam in doloribus.</p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="fw-bold">Productos</h6>
            <ul>
              <li><a href="#" class="text-white">Lorem</a></li>
              <li><a href="#" class="text-white">Ipsum</a></li>
              <li><a href="#" class="text-white">Dolor</a></li>
              <li><a href="#" class="text-white">Sit</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="fw-bold">Links</h6>
            <ul>
              <li><a href="#" class="text-white">Lorem</a></li>
              <li><a href="#" class="text-white">Ipsum</a></li>
              <li><a href="#" class="text-white">Dolor</a></li>
              <li><a href="#" class="text-white">Sit</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="fw-bold">Contacto</h6>
            <p><i class="fas fa-home"></i> Calle falsa #123</p>
            <p><i class="fas fa-envelope"></i> info@example.com</p>
            <p><i class="fas fa-phone"></i> +56912345678</p>
          </div>
        </div>
      </div>
    </section>
  </footer>