<body>

    <%= render "shared/navbar" %>

    <div class="container-fluid">

        <div class="row py-5">
            <div class="col-6">
                <h3 class="text-center">Información de la empresa</h3>
            </div>
            <div class="col-6">
                <p class="h5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut id in incidunt eum. Minima molestias maiores, magni, reiciendis esse nihil rerum odio excepturi delectus possimus, illum tempore nobis aliquam suscipit.</p>
            </div>
        </div>

        <div class="row text-light bg-dark py-5">
            <div class="col-6">
                <p class="h5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut id in incidunt eum. Minima molestias maiores, magni, reiciendis esse nihil rerum odio excepturi delectus possimus, illum tempore nobis aliquam suscipit.</p>
            </div>
            <div class="col-6">
                <h3 class="text-center">Servicios</h3>
            </div>
        </div>

        <div class="row py-5">
            <div class="col-6">
                <h3 class="text-center">Productos</h3>
            </div>
            <div class="col-6">
                <p class="h5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut id in incidunt eum. Minima molestias maiores, magni, reiciendis esse nihil rerum odio excepturi delectus possimus, illum tempore nobis aliquam suscipit.</p>
            </div>
        </div>
        
    </div>

    <%= render "shared/footer" %>

</body>