<div class="row">
    <div class="col-12">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>¡Alerta!</strong> Su postulación ha sido marcada para modificación por algún dato incorrecto. Por favor, realice las correcciones correspondientes.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-warning btn-circle w-100" data-bs-toggle="modal" data-bs-target="#postulacion">
        <i class="fa-solid fa-pen-to-square"></i> Modificar</button>
    </div>
</div>