<div class="container">
    <div class="row">
        <h2 class="text-center">Bienvenido/a: <%= @user.name %></h2>
    </div>
    <div class="row" style="padding-top:15px; padding-bottom:15px">
        <div class="d-flex justify-content-center">
            <img src="#">
        </div>
    </div>
    
    <div class="row">
        <span class="text_box">Usted NO se encuentra habilitado para postular, los motivos pueden ser:</span>
        <ol>
            <% # foreach %>
            <% # end %>
        </ol>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <span class="text_box">Recuerda que es sólo una postulación por convocatoria.</span>
            <span class="text_box">Favor regularizar su problema y volver a intentar. Si el problema persiste, comunicarse con soporte@sistema-intercambios.cl</span>
        </div>
    </div>
</div>